hostname {{ hostname }}

{% if users is defined %}
{% for user in users %}
username {{ user.username }} role {{ user.role }} secret sha512 {{ user.secret }}
{% endfor %}
{% endif %}

{% if logging is defined %}
{% if logging.trap_level is defined %}logging trap {{ logging.trap_level }}{% endif %}
{% if logging.host is defined %}logging host {{ logging.host }}{% endif %}
{% if logging.facility is defined %}logging facility {{ logging.facility }}{% endif %}
{% if logging.source_interface is defined %}logging source-interface {{ logging.source_interface }}{% endif %}
{% endif %}

{% if snmp is defined %}
{% if snmp.community is defined %}snmp-server community {{ snmp.community }} rw{% endif %}
{% if snmp.host is defined and snmp.version is defined and snmp.community is defined %}
snmp-server host {{ snmp.host }} version {{ snmp.version }} {{ snmp.community }}
{% endif %}
snmp-server enable traps
{% if snmp.traps is defined %}
{% for trap in snmp.traps %}
snmp-server enable traps {{ trap }}
{% endfor %}
{% endif %}
{% endif %}

spanning-tree mode mstp

{% if vlans is defined %}
{% for vlan in vlans %}
vlan {{ vlan.id }}
   name {{ vlan.name }}
{% endfor %}
{% endif %}

{% if interfaces is defined %}
{% for iface, data in interfaces.items() %}
interface {{ iface }}
{% if data.mtu is defined %}
   mtu {{ data.mtu }}
{% endif %}
{% if data.switchport is defined and not data.switchport %}
   no switchport
{% else %}
   {% if data.mode is defined %}
   switchport mode {{ data.mode }}
   {% endif %}
   {% if data.access_vlan is defined %}
   switchport access vlan {{ data.access_vlan }}
   {% endif %}
   {% if data.encapsulation_vlan is defined %}
   encapsulation dot1q vlan {{ data.encapsulation_vlan }}
   {% endif %}
{% endif %}
{% if data.ipv4 is defined %}
   ip address {{ data.ipv4 }}
{% endif %}
{% if data.ipv6 is defined %}
   ipv6 address {{ data.ipv6 }}
{% endif %}
{% endfor %}
{% endif %}

{% if mgmt_api is defined %}
{% if mgmt_api.http is defined %}
management api http-commands
   {% if mgmt_api.http.port is defined %}protocol http port {{ mgmt_api.http.port }}{% endif %}
   {% if mgmt_api.http.shutdown is defined %}
      {% if mgmt_api.http.shutdown %}shutdown{% else %}no shutdown{% endif %}
   {% endif %}
!
{% endif %}

{% if mgmt_api.gnmi is defined %}
management api gnmi
   transport grpc default
   {% if mgmt_api.gnmi.openmgmt is defined %}
   transport grpc openmgmt
      {% if mgmt_api.gnmi.openmgmt.authorization is defined and mgmt_api.gnmi.openmgmt.authorization %}authorization requests{% endif %}
   {% endif %}
   {% if mgmt_api.gnmi.persistence is defined and mgmt_api.gnmi.persistence %}operation set persistence{% endif %}
!
{% endif %}

{% if mgmt_api.netconf is defined %}
management api netconf
   transport ssh default
!
{% endif %}
{% endif %}

no ip routing

{% if routing is defined and routing.ipv4_static is defined %}
{% for route in routing.ipv4_static %}
ip route {{ route.prefix }} {{ route.next_hop }}
{% endfor %}
{% endif %}

{% if routing is defined and routing.ipv6_static is defined %}
{% for route in routing.ipv6_static %}
ipv6 route {{ route.prefix }} {{ route.next_hop }}
{% endfor %}
{% endif %}
